---
// Destructure the properties from Astro.props
const { title, url } = Astro.props;

// Define TypeScript interface for the properties
interface Props {
	title?: string;
	url?: string;
}
// Define CSS classes for the hyperlink button
const baseClasses =
	'inline-flex items-center justify-center gap-x-2 rounded-lg px-4 py-1 text-center font-medium text-lg text-white shadow-sm outline-none ring-zinc-500 focus-visible:ring transition duration-300';
const borderClasses = 'border-2 border-brand';
const bgColorClasses =
	'bg-black/60 text-neutral-600';
const hoverClasses = 'hover:bg-hover hover:border-hover';
const disableClasses = 'disabled:pointer-events-none disabled:opacity-50';
const fontSizeClasses = '2xl:text-base';
const ringClasses = 'ring-zinc-500';

const darkClasses =
	'dark:border-brand dark:bg-black/60 dark:text-neutral-300 dark:ring-zinc-200 dark:hover:bg-hover dark:hover:border-hover dark:focus:outline-none';
---

<!-- Styled hyperlink -->
<a
	class={`${baseClasses} ${borderClasses} ${bgColorClasses} ${hoverClasses} ${disableClasses} ${fontSizeClasses} ${ringClasses} ${darkClasses}`}
	href={url}>
	{title}
</a>
